[Desktop Entry]
Name=Todoist
Exec=todoist %U
Terminal=false
Type=Application
Icon=com.todoist.Todoist
StartupWMClass=Todoist
MimeType=x-scheme-handler/todoist;x-scheme-handler/com.todoist;
Comment=Todoist: Planner & Calendar
Categories=Office;
